@use '@/styles/color.scss' as c;
@import '@/styles/mixin.scss';

.container {
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
  padding: 40px;
  word-break: keep-all;
  .privacy {
    width: 35%;
    .aboutMe {
      margin-top: 20px;
      .name {
        font-weight: 600;
        font-size: 1.5rem;
      }
      .year {
        margin-left: 10px;
      }
      .jop {
        margin-top: 5px;
      }
      .discription {
        margin-top: 26px;
        padding-right: 100px;
        font-size: 1.2rem;
        color: c.$color04;
        line-height: 30px;
      }
    }
    .skills {
      margin-top: 50px;
      font-size: 1.2rem;
      color: c.$color04;
      .title {
        text-decoration: underline;
      }
      .list {
        margin-top: 20px;
        line-height: 30px;
      }
    }
  }
  .history {
    width: 65%;
    max-width: 800px;
    margin-top: 20px;
    .title {
      margin-bottom: 50px;
      span {
        padding-bottom: 8px;
        font-weight: 700;
        border-bottom: 2px solid c.$color05;
      }
    }
    .resume-container {
      margin: 100px 0 100px;
      .resume-list {
        li {
          padding-bottom: 20px;
        }
        .resume-date {
          padding-right: 10px;
        }
        .resume-disc {
          padding-left: 10px;
        }
      }
    }
  }
}

@include tablet {
  .container {
    display: block;
    .privacy {
      width: 100%;
    }
    .history {
      width: 100%;
      margin-top: 80px;
    }
  }
}
