@use '@/styles/color.scss' as c;
@import '@/styles/mixin.scss';

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 40px;
  word-break: keep-all;
}

.privacy {
  display: flex;
  flex-wrap: wrap;
}
.profileContainer {
  flex-basis: 200px;
  margin-bottom: 50px;
}
.aboutMe {
  flex-basis: calc(100% - 200px);
  margin-top: 20px;
  .name {
    font-weight: 600;
    font-size: 1.5rem;
  }
  .year {
    margin-left: 10px;
  }
  .jop {
    margin-top: 5px;
  }
  .description {
    margin-top: 26px;
    font-size: 1.2rem;
    color: c.$color04;
    line-height: 30px;
  }
}
.skills {
  flex-basis: 100%;
  margin-left: 200px;
  margin-top: 50px;
  font-size: 1.2rem;
  color: c.$color04;
  .title {
    text-decoration: underline;
  }
  .list {
    margin-top: 20px;
    line-height: 30px;
    font-weight: 600;
  }
  .sub-list {
    margin: 10px 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.1rem;
    li {
      padding: 5px 10px;
      margin: 0 5px 8px 0;
      font-weight: 400;
      border-radius: 8px;
      color: c.$color03;
      background-color: c.$color01;
    }
    li.light {
      opacity: 0.7;
    }
  }
}

.history {
  width: calc(100% - 200px);
  max-width: 800px;
  margin-top: 80px;
  margin-left: 200px;
  line-height: 1.5;
  word-break: keep-all;
  .title {
    margin-bottom: 50px;
    span {
      padding-bottom: 8px;
      font-weight: 700;
      border-bottom: 2px solid c.$color05;
    }
  }
}

.resume-container {
  margin: 100px 0 100px;
  .resume-list {
    li {
      padding-bottom: 20px;
      p {
        display: flex;
      }
    }
    .resume-date {
      white-space: nowrap;
    }
    .vertical-bar {
      padding: 0 10px;
    }
  }
}

@include tablet {
  .container {
    display: block;
  }
  .privacy {
    display: block;
    width: 100%;
  }
  .aboutMe {
    .description {
      padding-right: 20px;
    }
  }
  .skills {
    margin-left: 0;
  }
  .history {
    width: 100%;
    margin-left: 0;
    margin-top: 80px;
  }
}

@include mobile {
  .privacy {
    margin-top: 40px;
  }
  .resume-container {
    .resume-list {
      p {
        display: flex;
      }
    }
  }
}
