@use '@/styles/color.scss' as c;
@import '@/styles/mixin.scss';

.container {
  width: 100%;
  display: flex;
}
.content {
  width: 100%;
  max-width: calc(100% - 250px);
  height: calc(100vh - 40px);
  max-height: calc(100vh - 40px);
  margin: 20px;
  background-color: #fff;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

@include mobile {
  .container {
    display: block;
  }
  .content {
    max-width: 100%;
    margin: 0;
  }
}
