@use '@/styles/color.scss' as c;
@import '@/styles/mixin.scss';

.container {
  width: 100%;
  display: flex;
}
.content {
  width: 100%;
  max-width: calc(100% - 250px);
  height: 100%;
  min-height: 100vh;
  background-color: #fff;
}

@include mobile {
  .container {
    display: block;
  }
  .content {
    max-width: 100%;
  }
}
