@use '@/styles/color.scss' as c;
@import '@/styles/mixin.scss';

.container {
  width: calc(100% - 40px);
  padding: 40px 0 40px 40px;

  max-width: 1500px;
  margin: 0 auto;
}
.next-btn {
  margin-bottom: 30px;
  font-size: 1.2rem;
  font-weight: 500;
  a {
    padding: 5px 10px;
    margin-right: 20px;
    color: c.$color02;
    background-color: c.$color01;
    border-radius: 5px;
    svg {
      vertical-align: text-bottom;
      g path {
        fill: c.$color02;
      }
    }
  }
  a:hover {
    color: c.$color01;
    background-color: c.$color03;
    transition: all ease 0.5s;
    svg g path {
      fill: c.$color01;
    }
  }
  .perv-btn {
    svg {
      transform: rotate(180deg);
    }
  }
}
.subTitle {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 1.3rem;
  color: c.$color01;
}
.title {
  max-width: 500px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 1.8rem;
  color: c.$color01;
}
.date {
  margin-bottom: 30px;
  color: c.$color04;
  font-weight: 300;
  font-size: 1.2rem;
}
.project-desc {
  max-width: 500px;
  margin-bottom: 40px;
  font-size: 1.1rem;
  line-height: 1.5;
  word-break: keep-all;
}
.infos {
  display: flex;
  margin-top: 60px;
  .label {
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    color: c.$color01;
  }
  .left {
    width: 500px;
    .team {
      .total {
        margin-bottom: 10px;
      }
    }
    .skill {
      margin-top: 40px;
      .list span {
        display: inline-block;
        margin: 0 10px 5px 0;
        &:not(:last-child)::after {
          content: ',';
        }
      }
    }
    .links {
      margin-top: 40px;
      ul li a {
        display: inline-flex;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        border: 2px solid c.$color01;
        color: c.$color02;
        background: c.$color01;
      }
    }
  }
  .right {
    margin-left: 40px;
    .list {
      margin-bottom: 40px;
      padding-right: 20px;
      li {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 15px;
        line-height: 1.5;
      }
      svg {
        min-width: 25px;
        vertical-align: text-top;
      }
      span {
        padding-left: 5px;
      }
    }
  }
}
.link {
  color: c.$color01;
  text-decoration: underline;
}

@include tablet {
  .infos {
    display: block;
    .left {
      width: 100%;
    }
    .right {
      margin: 40px 0 0 0;
    }
  }
}

@include mobile {
  .container {
    width: calc(100% - 80px);
    padding: 80px 40px 120px;

    position: relative;
  }
  .next-btn {
    position: absolute;
    bottom: 10px;
    right: 20px;
  }
}
