@mixin mobile {
  @media (min-width: 0px) and (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 0) and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src: unquote(
      'local("#{$font-name}"), url("#{$file-name}.woff2") format("woff2"), url("#{$file-name}.woff") format("woff")'
    );
    font-style: $style;
    font-weight: $weight;
  }
}
